body {
    font-family: 'Ubuntu', sans-serif;
    background-color:lightgray;
    text-align: center;
    background-image: linear-gradient(to bottom, #648DE5,#28464B);
}
p{
    color: #D4DCFF;
}
nav ul li a {
    color: #000000;
}

a.nounderline:link{
    text-decoration: none;
    
}

.container {
    width: auto;
    margin: auto;
}

.lista {
    list-style: none;
}
